
.div{
    background-image: url(C:\Users\lugat\OneDrive\Desktop\cr-pi-countries-main\client\src\assets\background.png);
    background-size:cover;
    height: 55rem;
    width: 100rem;
    margin-top: -3.5em;
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    display: flex;
    justify-content: center;

}

.travel{
    display: flex;
    justify-content: flex-end;
    color: #3c4796 ;
    margin-top: 15%;
    margin-left: 25em;
    font-size: 4em;
}

.countries{
    text-align: center;
    display: flex;
    justify-content: flex-end;
    position: absolute;
    color: #3c4796 ;
    font-size: 4em;
    margin-top: 20%;
    margin-left: -18.5rem;

}

.button{ 

    position: absolute;
    color: rgb(0, 66, 62);
    font-weight: 800;
    cursor: pointer;
    width: 8em;
    height: 3.5em;
    background:  #eb7c78;
    border-color:#7190c7 ;
    color:aliceblue;
    border-width: 0.2em;
    margin-top: 30%;
    border-radius: 0.5em;
    font-size: 1em;
    margin-left: -11.5rem;

}


