
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  position: fixed;
}


.list {
  display: flex;
  justify-content: space-between;
  list-style: none;
  background-color: #3b4796;
  margin: 0;
  border: 2px solid #b4586c;
}
.item {
  margin: 10px;
}
.exit{
  background-image: url("C:/Users/lugat/OneDrive/Desktop/cr-pi-countries-main/client/src/assets/exit.png");
  background-repeat: no-repeat;
  background-position: center;
  width: 3.5em;
  height: 3.5em;
  background-size: 85%;
  border-radius: 100%;
  border: 2px solid #b4586c;
  border-radius: 100%;
  cursor: pointer;
}

.home{ 
  background-image: url("C:/Users/lugat/OneDrive/Desktop/cr-pi-countries-main/client/src/assets/home.png");
  background-repeat: no-repeat;
  background-position: center;
  width: 3.5em;
  height: 3.5em;
  background-size: 90%;
  scale: 1;
  border-top: 10em;
  border: 2px solid #b4586c;
  border-radius: 100%;
  cursor: pointer;
  }

  .activity{
    background-image: url("C:/Users/lugat/OneDrive/Desktop/cr-pi-countries-main/client/src/assets/activity.png");
    background-repeat: no-repeat;
    background-position: center;
    width: 3.5em;
    height: 3.5em;
    background-size: 85%;
    border-radius: 100%;
    scale: 1;
    border: 2px solid #b4586c;
    cursor: pointer;
  }



