.div{
    display:flex;
    background-color: #3b4796;
    justify-content: end;
    margin-right: 5em;
}

.input{
    font-size: medium;
    font-weight: 600;
    text-align:center;
    border: 2px solid #b4586c;
    border-radius: 0.5em;
    width: 15em;
    height: 2.6em;
}

.search{
    background-image: url("C:/Users/lugat/OneDrive/Desktop/cr-pi-countries-main/client/src/assets/Search.png");
    background-repeat: no-repeat;
    background-position: center;
    width: 3.5em;
    height: 3.5em;
    background-size: 75%;
    border-radius: 100%;
    border: 2px solid #b4586c;
    border-radius: 100%;
    cursor: pointer;
    margin-left: 1em;

}



